
/*-------------  Colores  ---------------*/

$colors:(rojo-div:#E31F2C,rojo-div-05:rgba(227,31,44,0.5),dark-grey:#393939,dark-grey-05:rgba(57,57,57,0.5),ligth-grey:gray,yellow:#F1A400,white:#FAFAFA,black:#191919,black-05:rgba(25,25,25,0.5))

$rojo-div:#E31F2C;
$rojo-div-05:rgba(227,31,44,0.5);
$dark-grey:#393939;
$dark-grey-05:rgba(57,57,57,0.5);
$ligth-grey:gray;
$yellow:#F1A400;
$white:#FAFAFA;
$black:#191919;
$black-05:rgba(25,25,25,0.5);

//Mixins

@mixin box{
    width:100%;
    padding:10px;
    margin:10px;
}

// Fuentes



// Iconos



