@charset "UTF-8";
/*-------------------  Reset  -------------------------*/
/*-------------  Colores  ---------------*/
/*-------------------  Reset    -------------------------*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: gray;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: black;
  font-family: "Shippori Antique B1", sans-serif;
  font-size: 16px;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #0b0c0d;
  margin-bottom: 0px;
  margin: 0px;
}

p, li, ol, ul {
  margin-bottom: 0px;
  margin: 0px;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}
/* -------------------------- General Config ---------------------------------*/
body {
  background-color: black;
  width: 99vw;
  height: auto;
}

.section {
  background-color: black;
}

.section__tittle {
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

/* ----------------------- Header Gral. --------------------------------*/
.header {
  grid-area: header;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* margin:10px 10px; */
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  z-index: 99;
}
.header .header__icon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20%;
  height: auto;
  margin: 10px;
}
.header .header__icon .header__icon__img {
  width: 70%;
  height: auto;
}
.header .header__nav {
  /* /* display: flex; */
  align-items: center;
  justify-items: center;
  border: 2px solid;
  border-color: #E31F2C;
  background-color: black;
  z-index: 0;
  padding: 10px 0px;
  margin: 0 10px;
  width: 70%;
  height: auto;
}
.header .header__nav .header__nav__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}
.header .header__nav .header__nav__list li {
  list-style-type: none;
  display: inline;
  margin-bottom: 0px;
}
.header .header__nav .header__nav__list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* ----------------------- Footer Gral--------------------------------*/
.footer {
  grid-area: footer;
  width: 100%;
  height: 70px;
  /* justify-self: center; */
  align-self: center;
  padding: 0px 10px;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  background-color:#393939; */
  /* border-radius: 5px; */
}
.footer .footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 50px; */
  margin: 15px 10px;
  background-color: #393939;
  border: 2px solid;
  border-color: gray;
  border-radius: 5px;
  height: 100%;
  width: auto;
}
.footer .footer-div .footer-div__redes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.footer .footer-div .footer-div__redes li {
  list-style-type: none;
  /* display: inline-block; */
}
.footer .footer-div .footer-div__copy {
  margin-right: 20px;
  color: gray;
}
.footer .footer-div .footer-div__copy .footer__copy__text {
  font-weight: bold;
  margin-bottom: 0px;
}
.footer .footer-div .footer-div__copy .footer__copy__text:hover {
  color: #E31F2C;
}
.footer .social-insta, .footer .social-face, .footer .social-tube, .footer .social-spoti {
  color: gray;
  font-size: 40px;
}
.footer .social-insta:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .social-face:hover {
  color: #3b5998;
}
.footer .social-tube:hover {
  color: #c4302b;
}
.footer .social-spoti:hover {
  color: #1DB954;
}

/* ----------------- Grid -------------------*/
.index-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: " header" " video" " show" " spotify" "footer";
  height: auto;
  width: 100%;
  gap: 10px;
}

/* ----------------- Principal Video -------------------*/
.section__video {
  grid-area: video;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
}

/* .section__video-video{
    width: 100%;
    height: 600px;
}  */
.section__video-video {
  width: 100%;
  max-width: 1080px;
  height: 600px;
}

/* ----------------- Principal Video -------------------*/
/* ----------------- Prox Shows -------------------*/
.section__shows {
  grid-area: show;
  padding: 10px;
  margin: 0;
  width: 100%;
}
.section__shows .container-show {
  padding: 10px;
}
.section__shows .container-show .ticket-icon i {
  color: #F1A400;
}
.section__shows .container-show .section__shows__flex {
  position: relative;
  padding-bottom: 0;
}
.section__shows .container-show .section__shows__flex p {
  font-size: 16px;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__fecha {
  /* background-color: black; */
  border: 2px solid #E31F2C;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: #FAFAFA;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__text__button button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #191919;
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid #E31F2C;
  position: relative;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__text__button button a {
  color: #FAFAFA;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__text__button button a:hover {
  color: #191919;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__text__button button:hover {
  background-color: #E31F2C;
  color: #191919;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__info__text p {
  color: #FAFAFA;
  position: relative;
}
.section__shows .container-show .section__shows__flex .section__shows__flex__map {
  margin: 0;
}
.section__shows .container-show .section__shows__flex::before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1532622286598-f87b4290fe22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* ----------------- Spotify -------------------*/
.spotify {
  grid-area: spotify;
  height: auto;
  width: 100%;
  padding: 10px 10px;
}
.spotify .spotify__reproductor {
  height: 80px;
  width: 100%;
  padding: 0px 10px;
}
.spotify .disco {
  color: #E31F2C;
  font-size: 60px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* ----------------- Spotify -------------------*/
/* -------------------------------   Banda --------------------------------------*/
.banda-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "header" "banda" "integrantes" "footer";
  height: auto;
  width: 100%;
  gap: 10px;
}
.banda-grid .banda {
  grid-area: banda;
  width: 100%;
  height: auto;
  margin: 10px 0px;
}
.banda-grid .banda .banda__tittle p {
  color: #FAFAFA;
  font-size: 30px;
  text-align: center;
}
.banda-grid .banda .banda__text p {
  color: #FAFAFA;
  text-align: justify;
  padding: 10px;
}
.banda-grid .banda .banda__img img {
  padding: 10px;
  width: 100%;
}
.banda-grid .integrantes {
  grid-area: integrantes;
  width: 100%;
  height: auto;
}
.banda-grid .integrantes .integrantes__flex {
  color: #FAFAFA;
  border-radius: 5px;
  border: 1px solid #E31F2C;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.banda-grid .integrantes .integrantes__flex__img {
  width: 100;
  flex: 1;
  margin: 10px;
}
.banda-grid .integrantes .integrantes__flex__img img {
  border-radius: 10px;
}
.banda-grid .integrantes .integrantes__flex__info {
  padding: 20px;
  flex-direction: column;
}
.banda-grid .integrantes .integrantes__flex__info .integrantes__flex__info__nombre {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 30px;
}
.banda-grid .integrantes .integrantes__flex__info .integrantes__flex__info__desc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banda-grid .integrantes .integrantes__flex__info .integrantes__flex__info__instrumento {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.banda-grid .integrantes .integrantes__flex__info .instruments {
  list-style: none;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.banda-grid .integrantes .integrantes__flex__info .instruments-instrument {
  color: gray;
  display: inline-block;
  font-size: 30px;
  margin: 10px 20px;
}
.banda-grid .integrantes .integrantes__flex__info .instruments-instrument:hover {
  color: #E31F2C;
}
.banda-grid .integrantes .integrantes__flex__info .bata {
  width: 100%;
  text-align: center;
  margin: 0;
}

/* -------------------------------   Banda --------------------------------------*/
/* -------------------------------   Albumes --------------------------------------*/
.album-grid {
  display: grid;
  grid-template-areas: "header" "albumes" "footer";
  justify-items: center;
  align-items: center;
  width: 100%;
}
.album-grid .albumes {
  grid-area: albumes;
  width: 100%;
  padding: 0 auto;
}
.album-grid .albumes .section__tittle {
  margin-top: 20px;
}
.album-grid .albumes .section__album {
  display: flex;
  justify-content: center;
}
.album-grid .albumes .section__album .albumes__tabla {
  /* border-collapse: collapse; */
  border-spacing: 20px;
  background-image: url(https://images.unsplash.com/photo-1580745294190-1626b58bf7ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1519640350407-953bc0614f4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1574723092242-b987a03855ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1527&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1516956566-e9fbebf4842f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); */
  background-size: cover;
  /* border-collapse: collapse; */
  background-position: center;
  margin: 10px;
  width: 100%;
}
.album-grid .albumes .section__album .albumes__tabla .albumes__album, .album-grid .albumes .section__album .albumes__tabla .albumes__año, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify-1 {
  border: 5px solid black;
  padding: 0 5px;
  color: #FAFAFA;
  transition: all 0.5s;
}
.album-grid .albumes .section__album .albumes__tabla .albumes__album :hover, .album-grid .albumes .section__album .albumes__tabla .albumes__año :hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify :hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify-1 :hover {
  background-color: rgba(57, 57, 57, 0.5);
}
.album-grid .albumes .section__album .albumes__tabla .albumes__album p, .album-grid .albumes .section__album .albumes__tabla .albumes__año p, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify p, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify-1 p {
  width: auto;
  height: 100%;
  color: #FAFAFA;
  margin: 5px;
  transition: all 0.5s;
}
.album-grid .albumes .section__album .albumes__tabla .albumes__album p:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__año p:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify p:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify-1 p:hover {
  transform: translate(-2px, -2px);
}
.album-grid .albumes .section__album .albumes__tabla .albumes__album iframe:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__año iframe:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify iframe:hover, .album-grid .albumes .section__album .albumes__tabla .albumes__spotify-1 iframe:hover {
  transform: translate(-2px, -2px);
}
.album-grid .albumes .section__album .albumes__tabla .albumes__temas {
  border: 5px solid black;
  padding: 0 5px;
  color: #FAFAFA;
  transition: all 0.5s;
}
.album-grid .albumes .section__album .albumes__tabla .albumes__temas ol {
  width: auto;
  height: 100%;
  color: #FAFAFA;
  margin: 5px;
  transition: all 0.5s;
  text-align: center;
}
.album-grid .albumes .section__album .albumes__tabla .albumes__temas ol:hover {
  transform: translate(-2px, -2px);
}
.album-grid .albumes .section__album .albumes__tabla .albumes__temas :hover {
  background-color: rgba(57, 57, 57, 0.5);
}

/* -------------------------------   Shows --------------------------------------*/
.shows-grid {
  display: grid;
  grid-template-areas: "header" "shows" "galery-master" "footer";
  justify-items: center;
  align-items: center;
}
.shows-grid .shows {
  grid-area: shows;
}
.shows-grid .shows .section__shows-shows {
  padding: 10px;
}
.shows-grid .shows .section__shows-shows .section__shows__flex {
  position: relative;
  padding-bottom: 0;
}
.shows-grid .shows .section__shows-shows .section__shows__flex p {
  font-size: 12px;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__fecha {
  /* background-color: black; */
  border: 2px solid #E31F2C;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: #FAFAFA;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text__button button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #191919;
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid #E31F2C;
  position: relative;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text__button button a {
  color: #FAFAFA;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text__button button a:hover {
  color: #191919;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text__button button:hover {
  background-color: #E31F2C;
  color: #191919;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text {
  width: 80%;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__info__text p {
  color: #FAFAFA;
  position: relative;
}
.shows-grid .shows .section__shows-shows .section__shows__flex .section__shows__flex__map {
  margin: 0;
}
.shows-grid .shows .section__shows-shows .section__shows__flex::before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1532622286598-f87b4290fe22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.shows-grid .galery-master {
  grid-area: galery-master;
  width: 100%;
  height: auto;
}
.shows-grid .galery-master .epigrafe_galeria:hover {
  background-color: rgba(43, 43, 43, 0.5);
  color: #FAFAFA;
}

/* -------------------------------   Shows --------------------------------------*/
/* -------------------------------   Contacto --------------------------------------*/
.contact-grid {
  display: grid;
  grid-template-areas: "header" "contacto" "footer";
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
}
.contact-grid .main__contacto {
  display: grid;
  grid-area: contacto;
  background-image: url(https://wc.wallpaperuse.com/wallp/9-99732_s.jpg);
  width: 100%;
  height: auto;
  background-position: center;
}
.contact-grid .main__contacto .main__tittle {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.contact-grid .main__contacto .main__contacto-contacto {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  background-repeat: repeat;
  align-items: top;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form {
  background-color: rgba(57, 57, 57, 0.5);
  /* ----- Color de fondo html #2B2B2B convertido a rgba y con trasparencia  -----*/
  color: #E31F2C;
  padding: 10px;
  border-radius: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20px 0px;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__cbox1, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__comentarios, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__enviar {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre label, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail label, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario label {
  flex: 1;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre input, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail input, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario select {
  flex: 3;
  text-align: center;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__comentarios textarea {
  width: 100%;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail {
  padding-bottom: 1%;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button {
  display: flex;
  justify-content: space-between;
  margin: 0.75vw;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button__send {
  padding: 1px;
  background-color: rgba(227, 31, 44, 0.5);
  /* ----- Color de fondo html #E31F2C convertido a rgba y con trasparencia  -----*/
  border: 1px solid;
  border-color: rgba(227, 31, 44, 0.5);
  border-radius: 5px;
  margin-top: 1vw;
  color: #FAFAFA;
  height: auto;
  width: 20%;
  font-weight: 700;
  box-shadow: 5px 5px rgba(227, 31, 44, 0.2);
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button__send:active {
  box-shadow: none;
  position: relative;
  bottom: -5px;
  right: -5px;
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button__reset {
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-color: #FAFAFA;
  border-radius: 5px;
  margin-top: 1vw;
  color: #191919;
  font-weight: 700;
  width: 20%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button__reset:active {
  box-shadow: none;
  position: relative;
  bottom: -5px;
  right: -5px;
}

@media (max-width: 990px) and (min-width: 481px) {
  /* -------------------------------- index y gral. tablet------------------------------*/
  body {
    width: 99vw;
    height: auto;
  }

  .sidel, .sider {
    display: none;
  }

  /* -------------------------------- HEADER------------------------------*/
  .header {
    height: 80px;
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
  .header .header__icon {
    display: flex;
    align-content: start;
    height: 100%;
    width: 25%;
    padding: 5px 5px;
  }
  .header .header__icon .header__icon__img {
    height: 90%;
    width: auto;
  }
  .header .header__nav {
    width: 70%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__nav .header__nav__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    margin: 0px 0px;
    padding: 0px;
  }
  .header .header__nav .header__nav__list li {
    list-style: none;
  }
  .header .header__nav .header__nav__list li a {
    color: white;
    font-size: 14px;
  }

  /* -------------------------------- FOOTER------------------------------*/
  .footer {
    grid-area: footer;
    width: 100%;
    height: 50px;
    justify-self: center;
    align-self: center;
    padding: 0px 10px;
  }
  .footer .footer-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px;
    background-color: #393939;
    border: 2px solid;
    border-color: gray;
    border-radius: 5px;
    height: 100%;
    width: auto;
  }
  .footer .footer-div .footer-div__redes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
  }
  .footer .footer-div .footer-div__redes li {
    list-style-type: none;
  }
  .footer .footer-div .footer-div__copy {
    padding-right: 10px;
    color: gray;
  }
  .footer .footer-div .footer-div__copy .footer__copy__text {
    font-weight: bold;
    font-size: 15px;
  }

  .index-grid {
    display: grid;
    grid-template-areas: "header" "video" "show" "spotify" "footer";
    height: auto;
    /* ----------------- Principal Video tablet -------------------*/
    /* ----------------- Prox. Shows tablet -------------------*/
    /* ----------------- Spotify tablet -------------------*/
  }
  .index-grid .section__video {
    grid-area: video;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    padding-top: 10px;
    margin: 0px;
    margin-top: 40px;
  }
  .index-grid .section__video .main__title {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }
  .index-grid .section__video .section__video-video {
    width: 100%;
    height: 300px;
  }
  .index-grid .section__shows {
    grid-area: show;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .index-grid .section__shows .section__tittle {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index-grid .section__shows .section__shows-shows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .index-grid .spotify {
    grid-area: spotify;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .index-grid .spotify .spotify .section__tittle {
    display: none;
  }
  .index-grid .spotify .spotify__reproductor {
    height: 80px;
    width: 100%;
  }

  /* ----------------- Banda page tablet-------------------*/
  .banda-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "header" "banda" "integrantes" "footer";
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  .banda-grid .banda {
    grid-area: banda;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 60px;
  }
  .banda-grid .banda .banda__tittle p {
    font-size: 25px;
  }
  .banda-grid .banda .banda__text {
    padding: 10px;
    font-size: 14px;
  }
  .banda-grid .integrantes .section__tittle {
    font-size: 25px;
  }
  .banda-grid .integrantes .integrantes__flex {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__nombre {
    font-size: 16px;
    margin-top: 10px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__instrumento {
    font-size: 16px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__desc {
    font-size: 14px;
    padding: 10px;
  }

  /* ----------------- Albumes page tablet -------------------*/
  .section__tittle {
    font-size: 25px;
  }

  .albumes__spotify-1 {
    display: none;
  }

  .albumes__spotify-1 p {
    display: none;
  }

  .albumes__album p, .albumes__año p, .albumes__spotify p, .albumes__spotify-1 p {
    font-size: 13px;
    z-index: 50;
  }

  .albumes__temas p {
    font-size: 13px;
  }
  .albumes__temas ol li {
    font-size: 13px;
  }

  /* ----------------- Shows Page tablet -------------------*/
  .Section__shows {
    padding: 10px;
  }

  .section__shows__flex .fecha {
    font-size: 14px;
  }

  .info {
    font-size: 14px;
  }

  .ticket a {
    font-size: 14px;
  }

  /* ----------------- Albumes Page tablet -------------------*/
}
/* ------------------------------------- NOBILE-------------------------------------------*/
@media (max-width: 480px) {
  .sidel, .sider {
    display: none;
  }

  .header {
    grid-area: header;
    align-content: center;
    height: 60px;
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .header .header__icon {
    display: flex;
    justify-content: start;
    align-content: center;
    height: 100%;
    width: 50%;
    padding: 5px 5px;
    margin-left: 20px;
  }
  .header .header__icon .header__icon__img {
    width: 100px;
    height: auto;
    margin: 0px;
  }
  .header .header__nav {
    border: 0px;
    width: 0px;
  }
  .header .header__nav .header__nav__list {
    left: -100%;
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    background-color: black;
    opacity: 80%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s;
    z-index: 99;
    display: flex;
    flex-direction: column;
  }
  .header .header__nav .header__nav__list li {
    list-style-type: none;
    margin: 0px 0px;
    line-height: 30px;
    z-index: 99;
  }
  .header .header__nav .header__nav__list li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #E31F2C;
    transition: all 0.5s;
    z-index: 99;
  }
  .header .header__nav .header__nav__list li a:hover {
    color: white;
  }
  .header #check {
    display: none;
  }
  .header #check:checked ~ .header__nav ul {
    left: 0%;
  }
  .header .checkbtn {
    display: inline-block;
    color: #E31F2C;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 20px;
  }
  .header .lnr.lnr-menu {
    color: #E31F2C;
    font-size: 30px;
  }

  /*---------------------- FOOTER -----------------------------*/
  .footer {
    height: auto;
  }
  .footer .footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
  }
  .footer .footer-div .footer-div__redes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 0px;
    padding: 0px 0px;
    padding-left: 0px;
  }

  .index-grid {
    display: grid;
    grid-template-areas: "header" "video" "show" "spotify" "footer";
    width: 100%;
    height: auto;
    /*---------------------- HEADER -----------------------------*/
    /* ----------------- Principal Video -------------------*/
    /* ----------------- Prox. Shows -------------------*/
  }
  .index-grid .section__video .section__video-video {
    width: 100%;
    height: 300px;
  }
  .index-grid .section__shows {
    grid-area: show;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px auto;
  }
  .index-grid .section__shows .section__tittle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .index-grid .section__shows .section__shows-shows {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .index-grid .section__shows .section__shows-shows .section__shows__flex p {
    font-size: 12px;
  }
  .index-grid .section__shows .section__shows-shows .section__shows__flex__info__fecha p {
    font-size: 12px;
  }
  .index-grid .spotify {
    grid-area: spotify;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .index-grid .spotify .section__tittle {
    display: none;
  }
  .index-grid .spotify .spotify__reproductor {
    height: 80px;
    width: 100%;
  }
  .index-grid .spotify .disco {
    font-size: 20px;
  }

  /* -------------------------- Band Page -----------------------------*/
  .banda-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "header" "banda" "integrantes" "footer";
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  .banda-grid .banda {
    grid-area: banda;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 60px;
  }
  .banda-grid .banda .banda__img {
    display: none;
  }
  .banda-grid .banda .banda__tittle p {
    font-size: 25px;
  }
  .banda-grid .banda .banda__text {
    padding: 10px;
    font-size: 10px;
  }
  .banda-grid .integrantes {
    grid-area: integrantes;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .banda-grid .integrantes .section__tittle {
    font-size: 25px;
  }
  .banda-grid .integrantes .integrantes__flex, .banda-grid .integrantes .integrantes__flex.inv {
    flex-direction: column;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__nombre, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info .integrantes__flex__info__nombre {
    font-size: 16px;
    margin-top: 10px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__instrumento, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info .integrantes__flex__info__instrumento {
    font-size: 12px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .integrantes__flex__info__desc, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info .integrantes__flex__info__desc {
    font-size: 10px;
    padding: 10px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .bata, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info .bata {
    font-size: 25px;
  }
  .banda-grid .integrantes .integrantes__flex .integrantes__flex__info .instruments-instrument, .banda-grid .integrantes .integrantes__flex.inv .integrantes__flex__info .instruments-instrument {
    font-size: 25px;
  }

  /* -------------------------- Album Page -----------------------------*/
  .section__tittle {
    /* margin-top:80px; */
    font-size: 25px;
  }

  .albumes__spotify-1 {
    display: none;
  }

  .albumes__spotify-1 p {
    display: none;
  }

  .albumes__album p, .albumes__año p, .albumes__spotify p, .albumes__spotify-1 p {
    font-size: 10px;
    z-index: 50;
  }

  .albumes__temas p {
    font-size: 10px;
  }
  .albumes__temas ol li {
    font-size: 10px;
  }

  /* -------------------------- Shows Page -----------------------------*/
  .shows .section__tittle {
    margin-top: 80px;
  }
  .shows .section__shows__flex .fecha {
    font-size: 12px;
  }
  .shows .info {
    font-size: 12px;
  }
  .shows .ticket a {
    font-size: 10px;
  }

  /* -------------------------- Contact Page -----------------------------*/
  .contact-grid {
    display: grid;
    grid-template-areas: "header" "contacto" "footer";
    align-items: center;
    justify-items: center;
    width: 100%;
    height: auto;
  }
  .contact-grid .main__contacto {
    display: grid;
    grid-area: contacto;
    background-image: url(https://wc.wallpaperuse.com/wallp/9-99732_s.jpg);
    width: 100%;
    height: auto;
    background-position: center;
  }
  .contact-grid .main__contacto .main__title {
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
    text-align: center;
  }
  .contact-grid .main__contacto .main__contacto-contacto {
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    width: 100%;
    background-repeat: repeat;
    align-items: top;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form {
    background-color: rgba(43, 43, 43, 0.6);
    /* ----- Color de fondo html #2B2B2B convertido a rgba y con trasparencia  -----*/
    color: #E31F2C;
    padding: 2px;
    border-radius: 5px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 0px;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__cbox1, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__comentarios, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__enviar {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    align-items: center;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre label, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail label, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario label {
    flex: 1;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__nombre input, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__mail input, .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario input {
    flex: 3;
    text-align: center;
    width: 80%;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario select {
    flex: 3;
    text-align: center;
    width: 80%;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario .main__contacto__form__comentarios textarea {
    width: 80%;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__destinatario .main__contacto__form__mail {
    padding-bottom: 1%;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button {
    display: flex;
    justify-content: space-between;
    margin: 0.75vw;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button .main__contacto__form__button__send {
    padding: 1px;
    background-color: rgba(227, 31, 44, 0.5);
    /* ----- Color de fondo html #E31F2C convertido a rgba y con trasparencia  -----*/
    border: 1px solid;
    border-color: rgba(227, 31, 44, 0.5);
    border-radius: 5px;
    margin-top: 1vw;
    color: white;
    height: auto;
    width: 20%;
    font-weight: 700;
    box-shadow: 5px 5px rgba(227, 31, 44, 0.2);
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button .main__contacto__form__button__send:focus {
    box-shadow: none;
    position: relative;
    bottom: -5px;
    right: -5px;
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button .main__contacto__form__button__reset {
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    margin-top: 1vw;
    color: black;
    font-weight: 700;
    width: 20%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  }
  .contact-grid .main__contacto .main__contacto-contacto .main__contacto__form .main__contacto__form__button .main__contacto__form__button__reset:focus {
    box-shadow: none;
    position: relative;
    bottom: -5px;
    right: -5px;
  }
}/*# sourceMappingURL=style.css.map */